# App
ASPNETCORE_ENVIRONMENT=Development

# Oracle
ORACLE_PASSWORD='8TYd50g*0trE'
ORACLE_APP_USER='oracle'
ORACLE_APP_USER_PASSWORD='9%8bphDFOj4P'

# Postgres
POSTGRES_DB=telemetry
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='iBT|vC857AoS'

# MSSQL
MSSQL_ACCEPT_EULA=Y
MSSQL_DATABASE_NAME=telemetry
MSSQL_USER='sa'
MSSQL_SA_PASSWORD='AwbW~PNM3NxH'

# SQLite
SQLITE_DATABASE_NAME=telemetry

# MongoDB
MONGODB_DATABASE_NAME=telemetry
MONGODB_ROOT_USER='mongodb'
MONGODB_ROOT_PASSWORD='xF?iqMJhZj$R'